<!doctype html>
<html>
<head>
    <title>Parks and Recreation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    <!-- <section id="explainPage">
        This Page will show a specific users favorite park locations and their favorite workouts.
        Here they can delete the items in their favorites but not actually be deleted from the DB.
        
    </section> -->
<div class="container">

    <div class="page-header text-center">
      <!-- <span class="fa fa-anchor"></span>   -->
      <h1>Favorites Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

            </div>
        </div>
        <div class="col-sm-6" id="whiteSpace">
          <h3>Your Favorite Parks</h3>
          <h4>Click the Thumb Up Icon to Save your Favorite Jokes!</h4>
          <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
            <% if(messages[i].favorite  === "Saved") {%>
            <li class="message">           
              <span><%= messages[i].name %></span>
              <span><%= messages[i].msg %></span>
              <span><%= messages[i].workout %></span>
              <span><%= messages[i].favorite %></span>
              <!-- <span><%= messages[i].file %></span> -->
              <span><%= messages[i].thumbUp %></span>
              <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
              <!-- <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span> -->
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
            <% } %>
          <% } %>
          </ul>

          
        <% if (user.local.email) { %>
          <!-- <form action="/messages" method="POST"> -->
            <!-- <input type="text" value="<%= user.local.email %>" name="name">
            <input type="text" placeholder="JOKES" name="msg"> -->
            <!-- <input type="text" placeholder="collection" name="collection">
            <input type="text" placeholder="file" name="file"> -->
            
            <!-- <button type="submit">Submit</button> -->
          <!-- </form> -->
          <% } %>
        </div>
        
        <a href="/parks" class="btn btn-default"><span class="fa fa-user"></span>To Parks Forum</a>
        <!-- <a href="/map" class="btn btn-default"><span class="fa fa-user"></span>To Maps</a> -->
        <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span>To User Profile</a>
        <a href="/new-map" class="btn btn-default"><span class="fa fa-user"></span>To API Map</a>
</div>

<script src="main.js"></script>

</body>
</html>
