<!doctype html>
<html>

<head>
  <title>Parks and Recreation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style1.css">
</head>

<body>
    <!-- <section id="explainOverview">This Page will be a General Forum where users can see 
        the Parks and Locations that users have added as well as messages and suggested
        workouts. Users cannot delete anything from this page other than their messages.
        Users can put new updates in the DB with messages and they can like their favorite 
        parks and workouts. 

    </section> -->
  <div class="container">

    <div class="page-header text-center">
      <h1>Parks Forum</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

      </div>
      <div class="col-sm-6">
        <h3>Comment on Your Favorite Parks</h3>
            <h4>Leave Workout Suggestions</h4>
                <h5>Like and Save Your Favorite Workouts</h3>
        <ul class="messages">
          <% for(var i=0; i< messages.length; i++) {%>
          <% if (user.local.email == messages[i].name) { %>
          <li class="message">
            <span><%= messages[i].name%></span>
            <span><%= messages[i].msg %></span>
            <span><%= messages[i].workout %></span>
            <span><%= messages[i].favorite %></span>
            <span><%= messages[i].thumbUp -= messages[i].thumbDown %></span>
            <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
            <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
            <span><i class="fa fa-trash" aria-hidden="true"></i></span>
          </li>
          <% } %>
          <% } %>
        </ul>

        <h2>Add a message</h2>
        <% if (user.local.email) { %>
        <form action="/messages" method="POST">
          <input type="text" value="<%= user.local.email %>" name="name">
          <input type="text" placeholder="message" name="msg">
          <button type="submit">Submit</button>
        </form>
      </div>
      <% } %>
        <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span>To User Profile</a>
        <a href="/map" class="btn btn-default"><span class="fa fa-user"></span>To Maps</a>
        <a href="/favorites" class="btn btn-default"><span class="fa fa-user"></span>To User Favorites</a>
        <!-- <a href="/new-map" class="btn btn-default"><span class="fa fa-user"></span>To API Map</a> -->
    </div>
    <script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script>
    <script src="main.js"></script>

</body>

</html>
