<!doctype html>
<html>

<head>
  <title>Parks and Recreation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style2.css">
</head>

<body>
  <section>
    <!-- <p>This Page will be where the user will post park location information and workouts into the database. 
      As well as put any changes or updates back into into the DB. The user information is displayed as well as 
      the liked workouts and liked locations.
    </p>
  </section> -->
  <div class="container">

    <div class="page-header text-center">
      <h1>User Profile Page</h1>
      <section>
        <a href="/logout" class="btn btn-warning btn-sm">Logout</a>
      </section>  
    </div>

    <!-- <div class="row"> -->

      <!-- LOCAL INFORMATION -->
      <!-- <div class="col-sm-6">
        <div class="well">
          <h3><span class="fa fa-user"></span> Local</h3>

          <% if (user.local.email) { %>
          <p>
            <strong>id</strong>: <%= user._id %><br>
            <strong>email</strong>: <%= user.local.email %><br>
            <strong>password</strong>: <%= user.local.password %>
          </p>

          <a href="/unlink/local" class="btn btn-default">Unlink</a>
          <% } else { %>
          <a href="/connect/local" class="btn btn-default">Connect Local</a>
          <% } %>

        </div>
      </div> -->
      <div class="col-sm-12 text-center">
        <h3>Messages</h3>
        <a href="/map" class="btn btn-warning">Maps Page</a>
        <a href="/favorites" class="btn btn-warning">Users Favorites</a>
        <ul class="messages">
          <% for(var i=0; i< messages.length; i++) {%>
          <!-- <% if (user.local.email == messages[i].name) { %> -->
          <li class="message listStyle">
            <span class="user"><%= messages[i].name%></span>
            <span class="messagePost"><%= messages[i].msg %></span>
            <span class="exercise"><%= messages[i].workout %></span>
            <span ><%= messages[i].favorite %></span>
            <span><%= messages[i].thumbUp -= messages[i].thumbDown %></span>
            <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
            <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
            <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            <% if(messages[i].imgPath){ %>
              <section> 
                <img src=<%= messages[i].imgPath %> alt="">
              </section>
             <% } %>
          </li>
          <% } %>
          
          <!-- <% } %> -->
          
        </ul>

        <!-- <h2>Park Information</h2> -->
        <!-- <% if (user.local.email) { %> -->
        <!-- <form action="/messages" method="POST">
          <input type="text" value="<%= user.local.email %>" name="name">
          <input type="text" placeholder="Name of Park" name="msg">
          <input type="text" placeholder="Excersise" name="workout">
          <button type="submit">Submit</button>
        </form> -->

      </div>
      <!-- <% } %> -->
        
        
       
        
    </div>

    <footer class="text-center">
      <section class="theFooter">
          <p class="theCopyright">&copy Copyright 2020 All Rights Reserved el-roc</p>
      </section>
  </footer>

    <script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script>
    <script src="main.js"></script>

</body>

</html>
